

@model List< WebApplication1.Models.Salon >

<h1>@(ViewBag.salonTur == "Kadın" ? "Kadın Salonlar" : "Erkek Salonlar")</h1>

<div class="salons">
    @foreach (var Salon in Model)
    {
        <div class="salon">
            <h2>Salon: @Salon.ad</h2>
            <p>Tür: @Salon.tur</p>
            <p>Açılış Saati: @Salon.acilis_saati</p>
            <p>Kapanış Saati: @Salon.kapanis_saati</p>
        </div>
    }
</div>