

@model List< WebApplication1.Models.Salon >

<h1>@(Model.FirstOrDefault()?.Type == "kadin" ? "Kadın Salons" : "Erkek Salons")</h1>

<div class="salons">
    @foreach (var salon in Model)
    {
        <div class="salon">
            <h2>Salon: @salon.ad</h2>
            <p>Tür: @salon.tur</p>
            <p>Açılış Saati: @salon.acilis_saati</p>
            <p>Kapanış Saati: @salon.kapanis_saati</p>
        </div>
    }
</div>